<?xml version="1.0"?>
<model>
  <name>quadtailsitter_mono_cam</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Leoncio Hermosillo</name>
   <email>lhermosillo@pheratech.com</email>
  </author>

  <description>
    This is a model of a quad tailsitter with a mono cam, modelling the Swan K1.
    Model provided by Holybro
  </description>
</model>
