<?xml version="1.0"?>
<model>
  <name>x500_mono_cam_down_payload</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Leoncio Hermosillo</name>
    <email>lhermosillo@pheratech.com</email>
  </author>
  <description>X500 with downward mono camera and a droppable payload.</description>
</model>
